@model Senstay.Dojo.Models.View.ImportViewModel
@{
    ViewBag.AppName = "SenStay Dojo";
    ViewBag.Title = "Import Non-Airbnb Transactions";
    ViewBag.PageHint = "Import";
}

<div class="ss-page-content">
    <div class="ss-page-title ss-h2">Import Non-Airbnb Transactions</div>
    <div class="ss-article-title-divider"></div>

    <div class="ss-simple-box owner-payout-height">
        @using (Ajax.BeginForm("Import", "Index", new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "edit-ajax-target",
            LoadingElementId = "edit-ajax-wait",
            OnSuccess = "DojoWeb.ImportForm.refreshForm",
            OnFailure = "DojoWeb.ImportForm.serverError"
        },
            new { @id = "ImportForm", @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="import-section">
                <div class="transaction-type-group ss-top-margin10">
                    <span class="import-item" style="margin-left:0px;">Non-Airbnb Import Type: </span>
                    <span class="import-item"><input type="radio" name="FileType" id="FileType" value="1" checked="checked" /><span>Job Costs</span></span>
                    <span class="import-item"><input type="radio" name="FileType" id="FileType" value="2" /><span>Off-Airbnb</span></span>
                    <span class="import-item"><input type="radio" name="FileType" id="FileType" value="3" /><span>Property Fees &amp; Taxes</span></span>
                    @if (Request.Url.GetLeftPart(UriPartial.Path).ToLower().IndexOf("localhost") > 0)
                    {
                        <span class="import-item"><input type="radio" name="FileType" id="FileType" value="6" /><span>Backfill Completed Airbnb Transactions</span></span>
                    }
                </div>

                <div class="float-left import-field-item ss-top-margin40">
                    <div class="control-group">
                        <div class="input-group revenue-input-item">
                            <div class="input-group-addon"><span class="fa fa-calendar"><span> Report Date </span> </span></div>
                            <input id="ImportDate" value="" title="Report Date" />
                        </div>
                    </div>
                </div>
                <div class="float-left revenue-input-item ss-top-margin40">
                    <span class="import-note">(Choose a date within the statement report month)</span>
                </div>
                <div class="clearfix"></div>

                <!-- file upload -->
                <div class="control-group ownerPayout-field">
                    <div class="col-xs-5 no-left-padding">
                        @Html.LabelFor(m => m.ImportFile, htmlAttributes: new { @class = "control-label import-file-label" }) <span class="blue bold">(xlsx format only)</span>
                        @Html.TextBoxFor(m => m.ImportFile, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(m => m.ImportFile, "", new { @class = "text-danger" })
                        <div id="importFileMessage" class="no-left-padding"></div>
                    </div>
                    <div class="col-xs-2">
                        <img id="attachImportFile" class="dojo-action-icon dojo-file-upload" data-field="@Html.NameFor(m => m.ImportFile)" data-upload="attachedImportFile" src="/Content/images/icon/attach.png" />
                        <img id="removeImportFile" class="dojo-action-icon dojo-file-remove" data-field="@Html.NameFor(m => m.ImportFile)" src="/Content/images/icon/eraser.png" />
                        <div class="hide"><input id="attachedImportFile" name="attachedImportFile" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" /></div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <!-- action buttons -->
                <div class="control-group">
                    <div class="col-xs-2 ss-section-spacing-top no-left-padding">
                        <input id="excelImport" type="button" value="Import Excel File" class="btn btn-default btn-success" />
                    </div>
               </div>
                <div class="clearfix"></div>

                <div id="longProcessNote" class="col-xs-12 ss-process-note hide">Please wait for completion...</div>
                <div id="import-alert" class="alert-container"></div>
            </div>
        }
    </div>
</div>
<div class="clearfix"></div>

@section CustomFormStyle
{
    <style type="text/css">
        .input-group-addon span.fa { width:100px; }
        .import-file-label {padding-bottom:5px;}
        .import-field-item {width:300px;margin-right:20px;}
        .import-note {line-height:32px;color:orange;}
    </style>
}

@section styles
{
    <link rel="Stylesheet" href="@Href("~/content/app/appform.css")" />
}

@section scripts
{
    @Scripts.Render("~/Scripts/app/import.js")


    <script type="text/javascript">
        $(document).ready(function () {
            DojoWeb.ImportForm.init();
        });
    </script>
}