@using Senstay.Dojo.Data.Providers
@{
    ViewBag.App = "SenStay Dojo App";
    ViewBag.Title = "Revenue - Owner Payout";
    ViewBag.PageHint = "Revenue";

    var defaultMonth = DateTime.Today.AddMonths(-1).ToString("MMMM yyyy");
}

<div class="revenue-page">
    <div class="revenue-h2">@ViewBag.Title <span id="dataCount"></span></div>
    <div class="row">
        <div class="revenue-filters">
            <div class="float-left statement-filter-item300 statement-filter-margin">
                <div class="control-group">
                    <div class="input-group revenue-input-item">
                        <div class="input-group-addon"><span class="fa fa-calendar"><span> Month</span></span></div>
                        <input id="revenueMonth" value="@defaultMonth" title="Revenue Month" />
                    </div>
                </div>
            </div>
            <div class="float-left statement-filter-item400 statement-filter-margin">
                <div class="control-group">
                    <div class="input-group revenue-input-item">
                        <div class="input-group-addon"><span class="fa fa-bank"><span> Account</span></span></div>
                        <div id="accountCodeList"><input id="revenueAccount" style="width:300px;" /></div>
                    </div>
                </div>
            </div>
            <div class="float-left statement-filter-item300 statement-filter-margin">
                <div class="revenue-button" style="margin-left:20px;">
                    <a id="AllMismatchPayouts">&nbsp;&nbsp;All Mismatched Payouts&nbsp;&nbsp;</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <!-- action alert when there is internal error -->
    <div id="revenue-alert"></div>

    <div class="revenue-data-grid">
        <div id="revenueGrid" class="revenue-grid @ViewBag.ReviewerClass @ViewBag.ApproverClass @ViewBag.FinalizerClass @ViewBag.AdminClass @ViewBag.EditClass"></div>
    </div>

    <!-- slding out alert messaging -->
    <div id="actionAlert" class="alert-container"></div>

</div >

@Html.Partial("_DialogPartial")

@Html.Partial("_ConfirmationDialog")

@section CustomFormStyle
{
    <style type="text/css">
        #formDialog input.input-sm { margin-bottom: 0px !important; }
        .dialog-page-content { padding:0px 0px 20px 20px; }
        html .k-grid tr:hover { background: transparent; }
        html .k-grid tr.k-alt:hover { background: #f1f1f1; }
        .k-grid-content .k-detail-cell .k-grid {width:60%;}
    </style>
}

@section styles
{
    <link rel="Stylesheet" href="@Href("~/content/app/revenue.css")" />
}

@section scripts
{
    @Scripts.Render("~/Scripts/app/reservationRevenue.js")
    @Scripts.Render("~/Scripts/app/resolutionRevenue.js")
    @Scripts.Render("~/Scripts/app/ownerPayoutRevenue.js")

    <script type="text/javascript">
        $(document).ready(function () {
            DojoWeb.OwnerPayoutRevenue.init('revenueGrid');
        });
    </script>
}