@model Senstay.Dojo.Models.View.OwnerStatementViewModel
@using Senstay.Dojo.Helpers

@if (Model.AdvancePaymentDetails.Count > 0)
{
    <div class="owner-advancePayments-view">
        <div class="statement-container">
            <table class="statement-content" cellpadding="0" cellspacing="0">
                <!-- title row -->
                <tr>
                    <td colspan="3"><div class="summary-title">@Model.StatementMonth.ToString("MMMM") Advance Owner Payments</div></td>
                </tr>
                <!-- statement header -->
                <tr class="statement-header">
                    <td class="advancePayments-col-1">Guest</td>
                    <td class="advancePayments-col-2">Payment Date</td>
                    <td class="advancePayments-col-3">Payment Amount</td>
                </tr>
                @for (int i = 0; i < Model.AdvancePaymentDetails.Count; i++)
                {
                    <tr class="statement-row">
                        @if (i == Model.AdvancePaymentDetails.Count - 1)
                        {
                            <td class="advancePayments-col-1 spacing-bottom-20">@Model.AdvancePaymentDetails[i].Guest</td>
                            <td class="advancePayments-col-2 spacing-bottom-20">@Model.AdvancePaymentDetails[i].PaymentDate.ToString("MM/dd/yyyy")</td>
                            <td class="advancePayments-col-3 spacing-bottom-20">@ConversionHelper.FormatMoney(Model.AdvancePaymentDetails[i].Amount)</td>
                        }
                        else
                        {
                            <td class="advancePayments-col-1">@Model.AdvancePaymentDetails[i].Guest</td>
                            <td class="advancePayments-col-2">@Model.AdvancePaymentDetails[i].PaymentDate.ToString("MM/dd/yyyy")</td>
                            <td class="advancePayments-col-3">@ConversionHelper.FormatMoney(Model.AdvancePaymentDetails[i].Amount)</td>
                        }
                    </tr>
                }
                <tr class="advancePayments-summary-row">
                    <td class="advancePayments-col-1 right spacing-top-10" colspan="2">TOTAL</td>
                    <td class="advancePayments-col-3 spacing-top-10">@ConversionHelper.FormatMoney(Model.AdvancementPaymentsTotal)</td>
                </tr>
            </table>
        </div>
    </div>
}
