<div id="DojoActionBar" class="actionBar vertical-align small">
    <!-- page title -->
    <div id="actionBarTitle" class="actionBar-item actionBar-text">
        <i class="fa fa-university"></i> <span style="font-size:larger;font-weight:bold">@ViewBag.Title <span id="gridDataCount"></span></span>
    </div>
    <div class="section-indicator"></div>

    @if (ViewBag.PermissionClass == "app-grid-edit")
    {
        {
            <div id="actionBarAddNew" class="actionBar-link actionBar-text">
                <i class="fa fa-plus"></i> Add New
            </div>
            <div class="section-indicator"></div>
        }
    }

    <!-- custom action filters -->
    <div class="actionbar-custom-button">
        <div class="actionBar-market-text">Favorite Filters</div>
        <div>
            <button id="unapproved" class="btn-xs actionBar-custom-group" title="Unapproved">Unapproved</button>
            <!-- disable as the bussiness needs of this approach is in doubt -->
            @*<button id="recentlyApproved" class="btn-xs actionBar-custom-group" title="Recently Approved">Recently Approved</button>*@
            <button id="checkinToday" class="btn-xs actionBar-custom-group" title="Checkin Today">Check-in Today</button>
        </div>
    </div>
    <div class="section-indicator"></div>

    <div class="actionbar-custom-button">
        <div class="actionBar-market-text">Approval Status</div>
        <div class="favorite-inquiry">
            <span>
                <span>@Html.CheckBox("statusApproved", new { @class = "btn-xs actionBar-approval-group check-control" }) Yes</span>
                <span>@Html.CheckBox("statusDisapproved", new { @class = "btn-xs actionBar-approval-group check-control" }) No</span>
                <span>@Html.CheckBox("statusHold", new { @class = "btn-xs actionBar-approval-group check-control" }) Hold</span>
                <span>@Html.CheckBox("statusCounter", new { @class = "btn-xs actionBar-approval-group check-control" }) Counter</span>
                <span>@Html.CheckBox("statusTetris", new { @class = "btn-xs actionBar-approval-group check-control" }) Tetris</span>
                <span>@Html.CheckBox("statusTooFarOut", new { @class = "btn-xs actionBar-approval-group check-control" }) Too Far Out</span>
            </span>
        </div>
    </div>
    <div class="section-indicator"></div>

    <!-- Date range -->
    <div id="actionBarDateRange">
        <div id="actionBarPrev" class="date-direction" title="Previous 7 days"><i class="fa fa-chevron-left"></i></div>
        <div id="app-date-begin" class="actionBar-item">
            <div>
                <div>From</div>
                <input id="beginDatePicker" class="app-actionBar-date" name="Date Begin" required="required" />
            </div>
            <span data-for='Date Begin' class='k-invalid-msg'></span>
        </div>
        <div class="actionBar-item-alt">
            —
        </div>
        <div id="app-date-end" class="actionBar-item">
            <div>
                <div>To</div>
                <input id="endDatePicker" class="app-actionBar-date" name="Date End" required="required"
                        data-greaterdate-field="Date Begin"
                        data-greaterdate-msg='End Date should be after Begin Date' />
            </div>
            <span data-for='Date End' class='k-invalid-msg'></span>
        </div>
        <div id="actionBarNext" class="date-direction" title="Next 7 days"><i class="fa fa-chevron-right"></i></div>
    </div>
    <div class="actionBar-item-alt">
        <button id="actionBarGo" class="btn btn-xs btn-primary" title="Retrieve inquiries for the date range"> GO </button>
    </div>
</div>

<script>
    $(document).ready(function () {
        // default to most recent a week worth of inquiries
        var beginDate = (7).days().ago(); 
        var endDate = Date.today();
        DojoWeb.InquiryActionBar.install(beginDate, endDate);
    });
</script>


