@model Senstay.Dojo.Models.InquiriesValidation

<div class="dialog-page-content inquiry-info-content">
    <div role="tabpanel" class="tab-pane" id="panel">
        <table cellpadding="0" cellspacing="10" width="100%">
            <tr class="dialog-row">
                <td class="dialog-3-cells dialog-left-cell">
                    <div class="control-group">
                        <div>
                            @Html.LabelFor(model => model.CPL.PropertyStatus, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.CPL.PropertyStatus, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                </td>
                <td class="dialog-3-cells dialog-left-cell dialog-right-cell">
                    <div class="control-group">
                        <div>
                            @Html.LabelFor(model => model.CPL.Vertical, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.CPL.Vertical, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                </td>
                <td class="dialog-3-cells dialog-right-cell">
                    <div class="control-group">
                        <div>
                            @Html.LabelFor(model => model.CPL.Market, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.CPL.Market, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="dialog-row">
                <td class="dialog-3-cells dialog-left-cell">
                    <div class="control-group">
                        <div>
                            @Html.LabelFor(model => model.CPL.Address, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.CPL.Address, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                </td>
                <td class="dialog-3-cells dialog-left-cell dialog-right-cell">
                    <div class="control-group">
                        <div>
                            @Html.LabelFor(model => model.CPL.State, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.CPL.State, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                </td>
                <td class="dialog-3-cells dialog-right-cell">
                    <div class="control-group">
                        <div>
                            @Html.LabelFor(model => model.CPL.Zipcode, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.CPL.Zipcode, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="dialog-row">
                <td class="dialog-3-cells dialog-left-cell">
                    <div class="control-group">
                        <div>
                            @Html.LabelFor(model => model.CPL.BookingGuidelines, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div>
                            @Html.TextAreaFor(model => model.CPL.BookingGuidelines, new { @class = "form-control", @readonly = "readonly", rows = "4" })
                        </div>
                    </div>
                </td>
                <td class="dialog-3-cells dialog-left-cell dialog-right-cell">
                    <div class="control-group">
                        <div>
                            <label class="control-label">Operations Contact</label>
                        </div>
                        <div>
                            @Html.TextAreaFor(model => model.CPL.AirbnbiCalexportlink, new { @class = "form-control", @readonly = "readonly", rows = "4" })
                        </div>
                    </div>
                </td>
                <td class="dialog-3-cells dialog-right-cell">
                    <div class="control-group">
                        <div>
                            @Html.LabelFor(model => model.CPL.CrossStreets, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div>
                            @Html.TextAreaFor(model => model.CPL.CrossStreets, new { @class = "form-control", @readonly = "readonly", rows = "4" })
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="dialog-row">
                <td class="dialog-3-cells dialog-left-cell">
                    <div class="control-group">
                        <div>
                            @Html.LabelFor(model => model.CPL.Bedrooms, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.CPL.Bedrooms, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                </td>
                <td class="dialog-3-cells dialog-left-cell dialog-right-cell">
                    <div class="control-group">
                        <div>
                            @Html.LabelFor(model => model.CPL.BedsDescription, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.CPL.BedsDescription, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                </td>
                <td class="dialog-3-cells dialog-right-cell">
                    <div class="control-group">
                        <div>
                            @Html.LabelFor(model => model.CPL.Bathrooms, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.CPL.Bathrooms, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="dialog-row">
                <td class="dialog-3-cells dialog-left-cell">
                    <div class="control-group">
                        <div>
                            @Html.LabelFor(model => model.CPL.Floor, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.CPL.Floor, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                </td>
                <td class="dialog-3-cells dialog-left-cell dialog-right-cell">
                    <div class="control-group">
                        <div>
                            @Html.LabelFor(model => model.CPL.StdOcc, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.CPL.StdOcc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                </td>
                <td class="dialog-3-cells dialog-right-cell">
                    <div class="control-group">
                        <div>
                            @Html.LabelFor(model => model.CPL.MaxOcc, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.CPL.MaxOcc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="dialog-row">
                <td class="dialog-3-cells dialog-left-cell">
                    <div class="control-group">
                        <div>
                            @Html.LabelFor(model => model.CPL.Elevator, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.CPL.Elevator, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                </td>
                <td class="dialog-3-cells dialog-left-cell dialog-right-cell">
                    <div class="control-group">
                        <div>
                            @Html.LabelFor(model => model.CPL.A_C, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.CPL.A_C, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                </td>
                <td class="dialog-3-cells dialog-right-cell">
                    <div class="control-group">
                        <div>
                            @Html.LabelFor(model => model.CPL.Parking, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.CPL.Parking, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="dialog-row">
                <td class="dialog-3-cells dialog-left-cell">
                    <div class="control-group">
                        <div>
                            @Html.LabelFor(model => model.CPL.WiFiNetwork, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.CPL.WiFiNetwork, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                </td>
                <td class="dialog-3-cells dialog-left-cell dialog-right-cell">
                    <div class="control-group">
                        <div>
                            @Html.LabelFor(model => model.CPL.WiFiPassword, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.CPL.WiFiPassword, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                </td>
                <td class="dialog-3-cells dialog-right-cell">
                    <div class="control-group">
                        <div>
                            @Html.LabelFor(model => model.CPL.BeltDesignation, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.CPL.BeltDesignation, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="dialog-row dialog-link">
                <td class="dialog-3-cells dialog-left-cell">
                    <div class="control-group">
                        <a href="@Model.CPL.Amenities" target="_blank">Amenities Link</a>                            
                    </div>
                </td>
                <td class="dialog-3-cells dialog-left-cell dialog-right-cell">
                    <div class="control-group">
                        <a href="@Model.CPL.AirBnb" target="_blank">AirBnb Link</a>
                    </div>
                </td>
                <td class="dialog-3-cells dialog-right-cell">
                    <div class="control-group">
                        <a href="@Model.CPL.HomeAway" target="_blank">HomeAway Link</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
